.cal-index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.cal-index-text {
  margin-top: var(--dl-space-space-sixunits);
}
.cal-index-container1 {
  width: 40%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.cal-index-description {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  border-color: var(--dl-color-primary-0);
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: flex-start;
}
.cal-index-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.cal-index-text03 {
  align-self: center;
  text-align: center;
}
.cal-index-details {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  border-color: var(--dl-color-primary-0);
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: flex-start;
}
.cal-index-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.cal-index-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.cal-index-text09 {
  align-self: flex-start;
  text-align: center;
}
.cal-index-container3 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.cal-index-text17 {
  align-self: flex-start;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.cal-index-text20 {
  align-self: flex-start;
  text-align: center;
}
.cal-index-video {
  width: 60%;
  height: auto;
  margin-top: var(--dl-space-space-doubleunit);
}
.cal-index-code {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-color: var(--dl-color-primary-0);
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
.cal-index-text25 {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}
.cal-index-codebox {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cal-index-text26 {
  align-self: flex-start;
  text-align: center;
}
.cal-index-footer {
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-end;
  background-color: #efefe3;
}
.cal-index-text29 {
  margin-bottom: var(--dl-space-space-unit);
}
.cal-index-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-end;
}
.cal-index-container5 {
  width: 20%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cal-index-text30 {
  width: auto;
  align-self: center;
}
.cal-index-text31 {
  width: auto;
  align-self: center;
}
.cal-index-container6 {
  width: 20%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cal-index-text32 {
  width: auto;
  align-self: center;
}
.cal-index-text33 {
  width: auto;
  align-self: center;
}
.cal-index-container7 {
  width: 20%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cal-index-text34 {
  width: auto;
  align-self: center;
}
.cal-index-text35 {
  width: auto;
  align-self: center;
}
.cal-index-container8 {
  width: 20%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cal-index-text36 {
  width: auto;
  align-self: center;
}
.cal-index-text37 {
  width: auto;
  align-self: center;
}
